
.blue{
    height: 500px;
    width: 500px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    position: relative;
}

.swimmer1{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: solid;
    right: 0;
    position: absolute;
    top: 100PX;
  }

.swimmer1go{
   
    animation: 5s swimmer1go ;

}
.swimmer2{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: solid;
    right: 0;
    position: absolute;
    top: 200PX;
}
.swimmer2go{
   
    animation: 2s swimmer2go  ;
}
.swimmer3{
    height: 50px;
    width: 50px;
    background-color: white;
    border-style: solid;
    right: 0;
    position: absolute;
    top: 300PX;

   }

.swimmer3go{
  
    animation: 3s swimmer3go ;
}

.page{
    display: flex;
    flex-direction: row;
   
}
.judge{
    padding-top: 150px;
    height: 200px;
        
}

@keyframes swimmer1go {
   
    to{
        right: 450px;
    }
}

@keyframes swimmer2go {
    to{
        right: 450px;
    }
}

@keyframes swimmer3go {
    to {
        right: 450px;
        
    }    
    
}
